{
  "swagger": "2.0",
  "info": {
    "description": "下列接口均为nginx前端请求使用接口",
    "version": "v2.4.0",
    "title": "EasyAccounts后台接口",
    "contact": {
      "name": "Mercy",
      "url": "https://github.com/QingHeYang/EasyAccounts"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/QingHeYang/EasyAccounts?tab=MIT-1-ov-file"
    }
  },
  "host": "www.lllama.cn:10672",
  "basePath": "/",
  "tags": [
    {
      "name": "分类管理",
      "description": "Type Controller"
    },
    {
      "name": "图片管理",
      "description": "Image Controller"
    },
    {
      "name": "快记模板",
      "description": "Flow Template Controller"
    },
    {
      "name": "收支管理",
      "description": "Action Controller"
    },
    {
      "name": "模板标签管理",
      "description": "Tag Controller"
    },
    {
      "name": "流水管理",
      "description": "Flow Controller"
    },
    {
      "name": "登录注册",
      "description": "Auth Controller"
    },
    {
      "name": "筛选功能",
      "description": "Screen Controller"
    },
    {
      "name": "财务分析",
      "description": "Analysis Controller"
    },
    {
      "name": "账户管理",
      "description": "Account Controller"
    },
    {
      "name": "首页信息",
      "description": "Home Controller"
    }
  ],
  "paths": {
    "/account/addAccount": {
      "post": {
        "tags": [
          "账户管理"
        ],
        "summary": "添加账户",
        "operationId": "addAccountUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accountRequestDto",
            "description": "accountRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/account/deleteAccount/{id}": {
      "delete": {
        "tags": [
          "账户管理"
        ],
        "summary": "停用账户",
        "operationId": "disableAccountUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/account/getAccount": {
      "get": {
        "tags": [
          "账户管理"
        ],
        "summary": "获取全部账户",
        "operationId": "getAllAccountUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«AccountResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/account/getAccount/{id}": {
      "get": {
        "tags": [
          "账户管理"
        ],
        "summary": "获取指定账户",
        "operationId": "getAccountUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«AccountResponseDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/account/getAccountNoLimit": {
      "get": {
        "tags": [
          "账户管理"
        ],
        "summary": "getAllAccountNoLimit",
        "operationId": "getAllAccountNoLimitUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«AccountResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/account/updateAccount/{id}": {
      "put": {
        "tags": [
          "账户管理"
        ],
        "summary": "更新账户",
        "operationId": "updateAccountUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accountRequestDto",
            "description": "accountRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountRequestDto"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/action/addAction": {
      "post": {
        "tags": [
          "收支管理"
        ],
        "summary": "添加收支",
        "operationId": "addActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "action",
            "description": "action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/action/getAction": {
      "get": {
        "tags": [
          "收支管理"
        ],
        "summary": "获取全部收支",
        "operationId": "getActionsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«Action»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/action/getAction/{id}": {
      "get": {
        "tags": [
          "收支管理"
        ],
        "summary": "获取指定收支",
        "operationId": "getActionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«Action»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/action/updateAction/{id}": {
      "put": {
        "tags": [
          "收支管理"
        ],
        "summary": "更新收支",
        "operationId": "updateActionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "action",
            "description": "action",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/analysis/doAnalysis": {
      "get": {
        "tags": [
          "财务分析"
        ],
        "summary": "财务分析",
        "operationId": "doAnalysisUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«AnalysisResponseDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/analysis/exportExcel": {
      "get": {
        "tags": [
          "财务分析"
        ],
        "summary": "导出Excel",
        "operationId": "exportExcelUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«MonthExcelData»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/analysis/v2/getAnalysisTypeList": {
      "post": {
        "tags": [
          "财务分析"
        ],
        "summary": "获取时间内收支分类列表",
        "operationId": "getAnalysisTypeListUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "analysisTypeListRequestDto",
            "description": "analysisTypeListRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalysisTypeListRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/analysis/v2/getAnalysisTypeMonthData": {
      "post": {
        "tags": [
          "财务分析"
        ],
        "summary": "获取时间内收支分类每月数据",
        "operationId": "getAnalysisTypeMonthDataUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "typeRequestDto",
            "description": "typeRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnalysisTypeRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "登录注册"
        ],
        "summary": "登录",
        "operationId": "loginUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "authRequestDto",
            "description": "authRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "登录注册"
        ],
        "summary": "注册",
        "operationId": "registerUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "authRequestDto",
            "description": "authRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/addFlow": {
      "post": {
        "tags": [
          "流水管理"
        ],
        "summary": "添加流水",
        "operationId": "addFlowUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "flowAddRequestDto",
            "description": "flowAddRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowAddRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/collectFlow/{id}/{collect}": {
      "put": {
        "tags": [
          "流水管理"
        ],
        "summary": "收藏流水",
        "operationId": "updateFlowUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "collect",
            "in": "path",
            "description": "collect",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/deleteFlow/{id}": {
      "delete": {
        "tags": [
          "流水管理"
        ],
        "summary": "删除流水",
        "operationId": "deleteFlowUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/getFlow/{id}": {
      "get": {
        "tags": [
          "流水管理"
        ],
        "summary": "获取指定一笔流水",
        "operationId": "getFlowByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«FlowSingleResponseDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/getFlowListMain/{chooseHandle}/{chooseOrder}/{date}": {
      "get": {
        "tags": [
          "流水管理"
        ],
        "summary": "获取主业流水",
        "operationId": "getFlowListMainUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "chooseHandle",
            "in": "path",
            "description": "chooseHandle",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "chooseOrder",
            "in": "path",
            "description": "chooseOrder",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "date",
            "in": "path",
            "description": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«FlowListDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/makeExcel/{date}": {
      "get": {
        "tags": [
          "流水管理"
        ],
        "summary": "月度流水Excel",
        "operationId": "getExcelUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«ExcelDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/flow/updateFlow/{id}": {
      "put": {
        "tags": [
          "流水管理"
        ],
        "summary": "更新流水",
        "operationId": "updateFlowUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "flowAddRequestDto",
            "description": "flowAddRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowAddRequestDto"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/home/getHomeInfo": {
      "get": {
        "tags": [
          "首页信息"
        ],
        "summary": "获取首页信息",
        "operationId": "getHomeInfoUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«HomeDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/home/getHomeInfoV2/{year}": {
      "get": {
        "tags": [
          "首页信息"
        ],
        "summary": "V2版本获取首页信息",
        "operationId": "getHomeInfoV2UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "description": "year",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«HomeDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/home/getVersion": {
      "get": {
        "tags": [
          "首页信息"
        ],
        "summary": "获取版本信息",
        "operationId": "getVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«VersionDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/image/upload": {
      "post": {
        "tags": [
          "图片管理"
        ],
        "summary": "上传图片",
        "operationId": "uploadImageUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«Map«string,string»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/image/{fileName}": {
      "get": {
        "tags": [
          "图片管理"
        ],
        "summary": "获取图片",
        "operationId": "getImageUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "fileName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/screen/getFlowByScreen": {
      "post": {
        "tags": [
          "筛选功能"
        ],
        "summary": "获取筛选功能",
        "operationId": "getFlowByScreenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "screenFlowRequestDto",
            "description": "screenFlowRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScreenFlowRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«FlowListDto»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/screen/makeExcel": {
      "post": {
        "tags": [
          "筛选功能"
        ],
        "summary": "生成Excel",
        "operationId": "makeScreenExcelUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "excelName",
            "in": "query",
            "description": "excelName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "screenFlowRequestDto",
            "description": "screenFlowRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScreenFlowRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«ExcelDto»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/screen/makeScreenExcel": {
      "post": {
        "tags": [
          "筛选功能"
        ],
        "summary": "makeScreenExcel",
        "operationId": "makeScreenExcelUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "screenFlowRequestDto",
            "description": "screenFlowRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScreenFlowRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": true
      }
    },
    "/tag/addTag": {
      "post": {
        "tags": [
          "模板标签管理"
        ],
        "summary": "添加标签",
        "operationId": "addTagUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "templateTag",
            "description": "templateTag",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplateTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/tag/deleteTag/{id}": {
      "delete": {
        "tags": [
          "模板标签管理"
        ],
        "summary": "停用标签",
        "operationId": "deleteTagUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/tag/getTag/{id}": {
      "get": {
        "tags": [
          "模板标签管理"
        ],
        "summary": "获取指定标签",
        "operationId": "getTagUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«TemplateTag»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/tag/getTags": {
      "get": {
        "tags": [
          "模板标签管理"
        ],
        "summary": "获取全部标签",
        "operationId": "getTagsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«TemplateTag»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/tag/updateTag": {
      "put": {
        "tags": [
          "模板标签管理"
        ],
        "summary": "更新标签",
        "operationId": "updateTagUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "templateTagDetails",
            "description": "templateTagDetails",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplateTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/addTemplate": {
      "post": {
        "tags": [
          "快记模板"
        ],
        "summary": "添加模板",
        "description": "添加模板",
        "operationId": "addTemplateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "flowTemplateRequestDto",
            "description": "flowTemplateRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowTemplateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/deleteTemplate/{id}": {
      "delete": {
        "tags": [
          "快记模板"
        ],
        "summary": "删除模板",
        "description": "删除模板",
        "operationId": "deleteTemplateUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/getAllTemplates": {
      "get": {
        "tags": [
          "快记模板"
        ],
        "summary": "获取全部模板",
        "description": "获取全部模板",
        "operationId": "getAllTemplatesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«FlowTemplateResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/getAllTemplatesByTag/{tagId}": {
      "get": {
        "tags": [
          "快记模板"
        ],
        "summary": "根据TagId获取全部模板",
        "description": "根据TagId获取全部模板",
        "operationId": "getAllTemplatesByTagUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "tagId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«FlowTemplateResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/getTemplateById/{id}": {
      "get": {
        "tags": [
          "快记模板"
        ],
        "summary": "获取单个模板",
        "description": "获取单个模板",
        "operationId": "getTemplateByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«FlowTemplateResponseDto»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/template/updateTemplate": {
      "put": {
        "tags": [
          "快记模板"
        ],
        "summary": "更新模板",
        "description": "更新模板",
        "operationId": "updateTemplateUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "flowTemplateRequestDto",
            "description": "flowTemplateRequestDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowTemplateRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/addType": {
      "post": {
        "tags": [
          "分类管理"
        ],
        "summary": "添加分类",
        "description": "添加分类",
        "operationId": "addTypeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "type",
            "description": "type",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeSingleDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/archiveType/{id}": {
      "put": {
        "tags": [
          "分类管理"
        ],
        "summary": "归档分类",
        "description": "归档分类",
        "operationId": "archiveTypeUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "archive",
            "in": "query",
            "description": "archive",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/deleteType/{id}": {
      "delete": {
        "tags": [
          "分类管理"
        ],
        "summary": "停用分类",
        "description": "停用分类",
        "operationId": "deleteTypeUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getType": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取所有分类",
        "description": "获取所有分类",
        "operationId": "getTypeUsingGET_1",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«TypeListResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getType/noLimit": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取所有分类（无归档、停用限制）",
        "description": "获取所有分类（无归档、停用限制）",
        "operationId": "getTypeNoLimitUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«TypeListResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getType/{parent}": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取二级指定分类",
        "description": "获取二级指定分类",
        "operationId": "getTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "description": "parent",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«Type»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getTypeArchive": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取归档分类",
        "description": "获取归档分类",
        "operationId": "getTypeArchiveUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«TypeListResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getTypeByActionId/{actionId}": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取指定收支的分类",
        "description": "获取指定收支的分类",
        "operationId": "getTypeByActionIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "description": "actionId",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«List«TypeListResponseDto»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/getTypeSingle/{id}": {
      "get": {
        "tags": [
          "分类管理"
        ],
        "summary": "获取单个分类",
        "description": "获取单个分类",
        "operationId": "getTypeSingleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto«Type»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/type/updateType/{id}": {
      "put": {
        "tags": [
          "分类管理"
        ],
        "summary": "更新分类",
        "description": "更新分类",
        "operationId": "updateTypeUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "type",
            "description": "type",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeSingleDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseDto"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "UUID": [
              "global"
            ]
          }
        ],
        "deprecated": false
      }
    }
  },
  "securityDefinitions": {
    "UUID": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "aname": {
          "type": "string"
        },
        "card": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "date-time"
        },
        "disable": {
          "type": "boolean"
        },
        "exemptMoney": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "string"
        },
        "note": {
          "type": "string"
        }
      },
      "title": "Account"
    },
    "AccountRequestDto": {
      "type": "object",
      "properties": {
        "card": {
          "type": "string"
        },
        "exemptMoney": {
          "type": "string"
        },
        "money": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "note": {
          "type": "string"
        }
      },
      "title": "AccountRequestDto"
    },
    "AccountResponseDto": {
      "type": "object",
      "properties": {
        "card": {
          "type": "string"
        },
        "createTime": {
          "type": "string"
        },
        "exemptMoney": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "note": {
          "type": "string"
        }
      },
      "title": "AccountResponseDto"
    },
    "Action": {
      "type": "object",
      "properties": {
        "exempt": {
          "type": "boolean"
        },
        "handle": {
          "type": "integer",
          "format": "int32"
        },
        "hname": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "Action"
    },
    "AnalysisResponseDto": {
      "type": "object",
      "properties": {
        "currentCircle": {
          "type": "string"
        },
        "momCircle": {
          "type": "string"
        },
        "momList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SingleTypeBean"
          }
        },
        "yoyCircle": {
          "type": "string"
        },
        "yoyList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SingleTypeBean"
          }
        }
      },
      "title": "AnalysisResponseDto"
    },
    "AnalysisTypeListRequestDto": {
      "type": "object",
      "properties": {
        "combineSubType": {
          "type": "boolean"
        },
        "end": {
          "type": "string"
        },
        "showDisableAnalysisType": {
          "type": "boolean"
        },
        "start": {
          "type": "string"
        }
      },
      "title": "AnalysisTypeListRequestDto"
    },
    "AnalysisTypeRequestDto": {
      "type": "object",
      "properties": {
        "end": {
          "type": "string"
        },
        "start": {
          "type": "string"
        },
        "typeId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "AnalysisTypeRequestDto"
    },
    "AuthRequestDto": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "username": {
          "type": "string"
        }
      },
      "title": "AuthRequestDto"
    },
    "BaseDto": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "object"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto"
    },
    "BaseDto«AccountResponseDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/AccountResponseDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«AccountResponseDto»"
    },
    "BaseDto«Action»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/Action"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«Action»"
    },
    "BaseDto«AnalysisResponseDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/AnalysisResponseDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«AnalysisResponseDto»"
    },
    "BaseDto«ExcelDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/ExcelDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«ExcelDto»"
    },
    "BaseDto«FlowListDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/FlowListDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«FlowListDto»"
    },
    "BaseDto«FlowSingleResponseDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/FlowSingleResponseDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«FlowSingleResponseDto»"
    },
    "BaseDto«FlowTemplateResponseDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/FlowTemplateResponseDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«FlowTemplateResponseDto»"
    },
    "BaseDto«HomeDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/HomeDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«HomeDto»"
    },
    "BaseDto«List«AccountResponseDto»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountResponseDto"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«AccountResponseDto»»"
    },
    "BaseDto«List«Action»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Action"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«Action»»"
    },
    "BaseDto«List«FlowTemplateResponseDto»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowTemplateResponseDto"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«FlowTemplateResponseDto»»"
    },
    "BaseDto«List«TemplateTag»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TemplateTag"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«TemplateTag»»"
    },
    "BaseDto«List«TypeListResponseDto»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeListResponseDto"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«TypeListResponseDto»»"
    },
    "BaseDto«List«Type»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Type"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«List«Type»»"
    },
    "BaseDto«Map«string,string»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«Map«string,string»»"
    },
    "BaseDto«MonthExcelData»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/MonthExcelData"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«MonthExcelData»"
    },
    "BaseDto«TemplateTag»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/TemplateTag"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«TemplateTag»"
    },
    "BaseDto«Type»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/Type"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«Type»"
    },
    "BaseDto«VersionDto»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/VersionDto"
        },
        "msg": {
          "type": "string"
        }
      },
      "title": "BaseDto«VersionDto»"
    },
    "ExcelDto": {
      "type": "object",
      "properties": {
        "log": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ExcelDto"
    },
    "File": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "absoluteFile": {
          "$ref": "#/definitions/File"
        },
        "absolutePath": {
          "type": "string"
        },
        "canonicalFile": {
          "$ref": "#/definitions/File"
        },
        "canonicalPath": {
          "type": "string"
        },
        "directory": {
          "type": "boolean"
        },
        "file": {
          "type": "boolean"
        },
        "freeSpace": {
          "type": "integer",
          "format": "int64"
        },
        "hidden": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "parentFile": {
          "$ref": "#/definitions/File"
        },
        "path": {
          "type": "string"
        },
        "totalSpace": {
          "type": "integer",
          "format": "int64"
        },
        "usableSpace": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "File"
    },
    "Flow": {
      "type": "object",
      "properties": {
        "accountName": {
          "type": "string"
        },
        "actionName": {
          "type": "string"
        },
        "flowDate": {
          "type": "string"
        },
        "money": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "typeName": {
          "type": "string"
        }
      },
      "title": "Flow"
    },
    "FlowAddRequestDto": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int32"
        },
        "accountToId": {
          "type": "integer",
          "format": "int32"
        },
        "actionId": {
          "type": "integer",
          "format": "int32"
        },
        "collect": {
          "type": "boolean"
        },
        "createDate": {
          "type": "string"
        },
        "fDate": {
          "type": "string"
        },
        "from": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "money": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "typeId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "FlowAddRequestDto"
    },
    "FlowListDto": {
      "type": "object",
      "properties": {
        "flows": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowListSingleDto"
          }
        },
        "totalEarn": {
          "type": "string"
        },
        "totalIn": {
          "type": "string"
        },
        "totalOut": {
          "type": "string"
        },
        "typeList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowTypeDto"
          }
        }
      },
      "title": "FlowListDto"
    },
    "FlowListSingleDto": {
      "type": "object",
      "properties": {
        "aname": {
          "type": "string"
        },
        "collect": {
          "type": "boolean"
        },
        "exempt": {
          "type": "boolean"
        },
        "fdate": {
          "type": "string"
        },
        "from": {
          "type": "string"
        },
        "handle": {
          "type": "integer",
          "format": "int32"
        },
        "hasImages": {
          "type": "boolean"
        },
        "hname": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "tname": {
          "type": "string"
        },
        "toAName": {
          "type": "string"
        }
      },
      "title": "FlowListSingleDto"
    },
    "FlowSingleResponseDto": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/Account"
        },
        "accountTo": {
          "$ref": "#/definitions/Account"
        },
        "action": {
          "$ref": "#/definitions/Action"
        },
        "collect": {
          "type": "boolean"
        },
        "fdate": {
          "type": "string"
        },
        "from": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "images": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "money": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/TypeListResponseDto"
        }
      },
      "title": "FlowSingleResponseDto"
    },
    "FlowTemplateRequestDto": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int32"
        },
        "accountToId": {
          "type": "integer",
          "format": "int32"
        },
        "actionId": {
          "type": "integer",
          "format": "int32"
        },
        "dateType": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tagId": {
          "type": "integer",
          "format": "int32"
        },
        "typeId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "FlowTemplateRequestDto"
    },
    "FlowTemplateResponseDto": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/AccountResponseDto"
        },
        "accountId": {
          "type": "integer",
          "format": "int32"
        },
        "accountTo": {
          "$ref": "#/definitions/AccountResponseDto"
        },
        "accountToId": {
          "type": "integer",
          "format": "int32"
        },
        "action": {
          "$ref": "#/definitions/Action"
        },
        "actionId": {
          "type": "integer",
          "format": "int32"
        },
        "dateType": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tag": {
          "$ref": "#/definitions/TemplateTag"
        },
        "tagId": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "$ref": "#/definitions/TypeListResponseDto"
        },
        "typeId": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "FlowTemplateResponseDto"
    },
    "FlowTypeDto": {
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowTypeDto"
          }
        },
        "money": {
          "type": "string"
        },
        "parent": {
          "type": "boolean"
        },
        "typeId": {
          "type": "integer",
          "format": "int32"
        },
        "typeName": {
          "type": "string"
        }
      },
      "title": "FlowTypeDto"
    },
    "HomeAccountBean": {
      "type": "object",
      "properties": {
        "accountAsset": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "exemptAsset": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "note": {
          "type": "string"
        },
        "percent": {
          "type": "string"
        }
      },
      "title": "HomeAccountBean"
    },
    "HomeDto": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HomeAccountBean"
          }
        },
        "curIncome": {
          "type": "string"
        },
        "curOutCome": {
          "type": "string"
        },
        "monthDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HomeMonthDetailBean"
          }
        },
        "netAsset": {
          "type": "string"
        },
        "totalAsset": {
          "type": "string"
        },
        "yearBalance": {
          "type": "string"
        },
        "yearIncome": {
          "type": "string"
        },
        "yearOutCome": {
          "type": "string"
        }
      },
      "title": "HomeDto"
    },
    "HomeMonthDetailBean": {
      "type": "object",
      "properties": {
        "balance": {
          "type": "string"
        },
        "income": {
          "type": "string"
        },
        "month": {
          "type": "string"
        },
        "outcome": {
          "type": "string"
        }
      },
      "title": "HomeMonthDetailBean"
    },
    "InputStream": {
      "type": "object",
      "title": "InputStream"
    },
    "Map«string,string»": {
      "type": "object",
      "title": "Map«string,string»",
      "additionalProperties": {
        "type": "string"
      }
    },
    "MonthExcelData": {
      "type": "object",
      "properties": {
        "allAsset": {
          "type": "string"
        },
        "currentMonth": {
          "type": "string"
        },
        "excelAccounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        },
        "flow": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Flow"
          }
        },
        "monthTotalEarn": {
          "type": "string"
        },
        "monthTotalIn": {
          "type": "string"
        },
        "monthTotalOut": {
          "type": "string"
        }
      },
      "title": "MonthExcelData"
    },
    "Resource": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/File"
        },
        "filename": {
          "type": "string"
        },
        "inputStream": {
          "$ref": "#/definitions/InputStream"
        },
        "open": {
          "type": "boolean"
        },
        "readable": {
          "type": "boolean"
        },
        "uri": {
          "$ref": "#/definitions/URI"
        },
        "url": {
          "$ref": "#/definitions/URL"
        }
      },
      "title": "Resource"
    },
    "ScreenFlowRequestDto": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int32"
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "chooseHandle": {
          "type": "integer",
          "format": "int32"
        },
        "collect": {
          "type": "boolean"
        },
        "endDate": {
          "type": "string"
        },
        "note": {
          "type": "string"
        },
        "singleMonth": {
          "type": "boolean"
        },
        "startDate": {
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "title": "ScreenFlowRequestDto"
    },
    "SingleTypeBean": {
      "type": "object",
      "properties": {
        "compareIncrease": {
          "type": "number"
        },
        "compareMoney": {
          "type": "number"
        },
        "compareRate": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "money": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "parent": {
          "type": "integer",
          "format": "int32"
        },
        "root": {
          "type": "boolean"
        }
      },
      "title": "SingleTypeBean"
    },
    "TemplateTag": {
      "type": "object",
      "properties": {
        "color": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "TemplateTag"
    },
    "Type": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "#/definitions/Action"
        },
        "actionId": {
          "type": "integer",
          "format": "int32"
        },
        "analysisDisable": {
          "type": "boolean"
        },
        "archive": {
          "type": "boolean"
        },
        "disable": {
          "type": "boolean"
        },
        "hasChild": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "parent": {
          "type": "integer",
          "format": "int32"
        },
        "tname": {
          "type": "string"
        }
      },
      "title": "Type"
    },
    "TypeListResponseDto": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "#/definitions/Action"
        },
        "analysisDisable": {
          "type": "boolean"
        },
        "archive": {
          "type": "boolean"
        },
        "childrenTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeListResponseDto"
          }
        },
        "disable": {
          "type": "boolean"
        },
        "hasChild": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "parent": {
          "type": "integer",
          "format": "int32"
        },
        "tname": {
          "type": "string"
        }
      },
      "title": "TypeListResponseDto"
    },
    "TypeSingleDto": {
      "type": "object",
      "properties": {
        "actionId": {
          "type": "integer",
          "format": "int32"
        },
        "analysisDisable": {
          "type": "boolean"
        },
        "archive": {
          "type": "boolean"
        },
        "disable": {
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "parent": {
          "type": "integer",
          "format": "int32"
        },
        "tname": {
          "type": "string"
        }
      },
      "title": "TypeSingleDto"
    },
    "URI": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "boolean"
        },
        "authority": {
          "type": "string"
        },
        "fragment": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "opaque": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "query": {
          "type": "string"
        },
        "rawAuthority": {
          "type": "string"
        },
        "rawFragment": {
          "type": "string"
        },
        "rawPath": {
          "type": "string"
        },
        "rawQuery": {
          "type": "string"
        },
        "rawSchemeSpecificPart": {
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string"
        },
        "scheme": {
          "type": "string"
        },
        "schemeSpecificPart": {
          "type": "string"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URI"
    },
    "URL": {
      "type": "object",
      "properties": {
        "authority": {
          "type": "string"
        },
        "content": {
          "type": "object"
        },
        "defaultPort": {
          "type": "integer",
          "format": "int32"
        },
        "file": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "type": "string"
        },
        "query": {
          "type": "string"
        },
        "ref": {
          "type": "string"
        },
        "userInfo": {
          "type": "string"
        }
      },
      "title": "URL"
    },
    "VersionDto": {
      "type": "object",
      "properties": {
        "backendBranch": {
          "type": "string"
        },
        "fontBranch": {
          "type": "string"
        },
        "mysqlBranch": {
          "type": "string"
        },
        "release": {
          "type": "string"
        }
      },
      "title": "VersionDto"
    }
  }
}